.App {
  text-align: center;
  height: 20vh
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 20vh;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#raptor {
  min-height: 100vh;
  animation: App-logo-spin infinite 5s reverse;
  z-index: -100;
   position: relative; 
  left: 0;
  top: 0;
  justify-content: center;
}